.node.hover.into {
	background-color: #e4dedd
}

.node.hover.after {
	border-bottom: 0.1rem solid;
}

.node.hover.before {
	border-top: 0.1rem solid;
}

.node.drag {
	opacity: 0.4
}

.children.collapsed {
	display: none;
}
